/* Mui ten lên dau trang */
#myBtn {
  font-size: 30px;
  width: 60px;
  height: 60px;
  display: none;
  position: fixed;
  bottom: 350px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(135,115,153);
  border: 2px solid #ccc;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  opacity: 0.7;
  }
   
  #myBtn:hover {
  background-color: rgb(81, 23, 132);
  }